<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lido{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Mini veikals</h1>
        <nav>
            <a href="{{ url_for('index') }}">Sākums</a>
            <a href="{{ url_for('products') }}">Produkti</a>
            <a href="{{ url_for('about') }}">Par mums</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025-2025</p>
    </footer>
</body>
</html>
