{% extends "base.html" %}
{% block title %}Produkti - MiniVeikals{% endblock %}
{% block content %}
    <h1>Mūsu produkti</h1>
    <a href="{{ url_for('product_create') }}" class="btn btn-primary">Izveidot jaunu produktu</a>

    <div class="products-list">
        {% for product in products %}
            <a href="{{ url_for('products_show', product_id=product['id']) }}" class="products-item">
                <h3>{{ product["name"] }}</h3>
                {% if product["image"] %}
                    <img src="{{ url_for('static', filename='images/products/' ~ product['image']) }}" alt="{{ product['name'] }}">
                {% endif %}
                <p class="product-price">{{ product["price"] }} €</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}